<hr>
<article class="fullsize">
    <h2>Accédez à votre salon</h2>
    <input type="password" ng-model="salonPass" placeholder='Mot de passe de votre salon...'/>
    <button type="button" ng-click='openSalon()'>Ouvrir mon salon</button>
</article>
<hr>
<article class="fullsize">
    <h2>Créer un nouveau salon</h2>
    <input type="text" ng-model="firstName" placeholder='Prénom'/>
    <input type="text" ng-model="lastName" placeholder='Nom'/>
    <input type="email" ng-model="email" placeholder='Email'/>
    <button type="button" ng-click='createSalon()'>Créer un salon</button>
</article>
<hr>
