<hr>
<article class="fullsize">
    <h2>Go to your room</h2>
    <input type="password" ng-model="salonPass" placeholder='Password of your living room'/>
    <button type="button" ng-click='openSalon()'>Open my salon</button><br>
    <span style='color: red'>
        {{error}}
    </span>
</article>
<hr>
<article class="fullsize">
    <h2>Create a new room</h2>
    <h3>Identity</h3>
    <input type="text" ng-model="firstName" placeholder='First Name'/>
    <input type="text" ng-model="lastName" placeholder='Name'/>
    <input type="email" ng-model="email" placeholder='Email'/>
    <h3>About your trip</h3>
    <input type="text" ng-model="title" placeholder='Title of your trip'/>
    <input type="text" ng-model="cpassword" placeholder='Choose a password (shared with friends)' />
    <h3>Destination</h3>
    <input type="text" ng-model="departurePlace" placeholder="Place of departure"/>
    <input type="text" ng-model="arrivePlace" placeholder='Place your holiday'/>
    <h3>Date</h3>
    <input type="number" ng-model="departureDate" placeholder='Date of departure'/>
    <input type="number" ng-model="returndate" placeholder="Return date"/>
    <h3>Description of your trip</h3>
    <input type="text" ng-model="description" placeholder='Description of your stay'/>
    <h3>Thematic</h3>
    <select type="select" ng-model="thematique" placeholder='Thematic'>
        <option value="fisting camp"> Fisting camp </option>
        <option value="sexfriend"> Sexfriend </option>
        <option value="hot"> Hot </option>
        <option value="gangbang"> Gangbang </option>
        <option value="only virgin"> Only Virgin </option>
        <option value="roleplay"> RolePlay </option>
        <option value="cosplay"> Cosplay </option>
        <option value="hardcore"> Hardcore </option>
        <option value="bukkake"> Bukkake </option>
        <option value="milf"> Milf </option>
        <option value="daddy"> Daddy </option>
        <option value="yoan"> Yoan </option>
        <option value="animals"> Animals </option>
        <option value="under 18"> Under 18 </option>
        <option value="soft"> Soft </option>
        <option value="toys"> Toys </option>
        <option value="augmented reality"> Augmented Reality </option>
        <option value="lesbian"> Lesbian </option>
        <option value="fetishist"> Fetishist </option>
        <option value="over 50"> Over 50 </option>
        <option value="teen"> Teen </option>
        <option value="bdsm"> Bdsm </option>
        <option value="gore"> Gore </option>
        <option value="php"> Php </option>
    </select>
    <br />
    <br />
    <button type="button" ng-click='createSalon()'>Creating a room</button><br>
    <span style='color: red'>
        {{error2}}
    </span>
</article>
<hr>
